/* PALETA DE CORES PLAYER */
$color-bar: #828282; /* BAR (progress:background-color) */
$color-top: #7EC3F0; /* TOPO DO PLAYER (#video-top:background) */
$color-border: #B2D8F0; /* BORDAS (#video-components:border) */
$color-painel: #7EC3F0; /* PAINEL DE CONTROLE (#video-controls:background) */
$style: '.iaq';

@import "../components/template";

#{$style} > #video-top > .top {
    //background-image: url(../imagens/cabecalho_iaq.png);
    @include sprite($cabecalho_iaq);
    width: 148px; /* 178px */
    margin-right: 30px;
}
