/* PALETA DE CORES PLAYER */
$color-bar: #424242; /* BAR (progress:background-color) */
$color-top: #D1AA0D; /* TOPO DO PLAYER (#video-top:background) */
$color-border: #F0E4B2; /* BORDAS (#video-components:border) */
$color-painel: #D1AA0D; /* PAINEL DE CONTROLE (#video-controls:background) */
$style: '.cab';

@import "template/template.scss";

#{$style} > #video-top > .top {
    //background-image: url(../imagens/cabecalho_cab.png);
    @include sprite($cabecalho_cab);
    background-color: $color-top;
    width: 148px; /* 178px */
    margin-right: 30px;
}
