/* PALETA DE CORES PLAYER */
$color-bar: #828282; /* BAR (progress:background-color) */
$color-top: #383838; /* TOPO DO PLAYER (#video-top:background) */
$color-border: #5D5D5D; /* BORDAS (#video-components:border) */
$color-painel: #2c2c2c; /* PAINEL DE CONTROLE (#video-controls:background) */
$style: '.cdea19';

@import "template/template.scss";
