$segundos: 2s;
$opacidade: 0.3;
.loading {
  //background-image: url("../imagens/loading.png");
  @include sprite($loading);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
	//width: 49px;
	//height: 43.8px;
	position: relative;
	top: 45.7%;
	left: 45.7%;
	z-index: 19;

	color: #FFF;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: $segundos;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: $segundos;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: $segundos;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: $opacidade;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: $opacidade;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: $opacidade;
  }
  100% {
    opacity: 1.0;
  }
}

